input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 0.8rem;
	width: 0.8rem;
	cursor: ew-resize;
	background: var(--accent-color);
	overflow: hidden;
	border-radius: 50%;
}