<form [formGroup]="settingsForm" class="flex flex-col justify-center w-full">
	<div class="flex items-center space-x-2 align-middle">
		<input type="range" min="0" max="1" step="0.1" id="friction" formControlName="friction" class="rounded-full appearance-none bg-secondary"/>
		<label for="friction" class="flex items-center cursor-pointer">
			Friction
		</label>
	</div>
	<div class="flex items-center space-x-2 align-middle">
		<input type="range" min="0" max="1" step="0.1" id="restitution" formControlName="restitution" class="h-4 rounded-full appearance-none bg-secondary"/>
		<label for="restitution" class="flex items-center cursor-pointer">
			Restitution
		</label>
	</div>
	<div class="flex items-center space-x-2 align-middle">
		<input type="range" min="0.1" max="1" step="0.05" id="scale" formControlName="scale" class="h-4 rounded-full appearance-none bg-secondary"/>
		<label for="scale" class="flex items-center cursor-pointer">
			Scale
		</label>
	</div>
	<div class="flex items-center space-x-2 align-middle">
		<input type="range" min="0" max="2" step="0.1" id="gravity" formControlName="gravity" class="h-4 rounded-full appearance-none bg-secondary"/>
		<label for="gravity" class="flex items-center cursor-pointer">
			Gravity
		</label>
	</div>
</form>