input[type="range"] {
	height: 1rem;
	padding: calc(0.2rem);

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		height: .8rem;
		width: .8rem;
		cursor: ew-resize;
		background: var(--accent-color);
		overflow: hidden;
		border-radius: 100%;
	}
}